/* CSS reset */
/* 載入字型 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional");
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #f6f7f8;
  font-family: "Noto Sans TC", sans-serif; /* 設定字型 */
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}
p {
  margin: 0;
}
ul,
li {
  list-style-type: none; /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none; /* 拿掉底線 */
}

/* project set */
/* 設定區塊寬度一致並置中 */
.container {
  width: 85%;
  margin: 0 auto 3rem auto;
}
/* 共用按鈕樣式 */
.action {
  color: white;
  background: #39bae6;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  transition: all 0.1s linear;
}
.action:hover {
  background: #267c99;
  /* 陰影 */
  -webkit-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
}
.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Main Header*/
header {
  /*固定置頂*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;
  text-align: center;
  background: #ffffff;
  /* 陰影 */
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

.nav {
  position: absolute;
  /* top定義為父元素 */
  top: 100%;
  width: 100%;
  background-color: #ffffff;
  transition: transform 0.3s ease-out;
  transform-origin: top;
  transform: scale(1, 0);
}

.navbar-brand {
  color: #267b98;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 60px; /*行高與header相同，文字即置中*/
}

.nav-item {
  margin: 1.4rem 0;

  opacity: 0;
}

.nav-link {
  color: #267b98;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle:checked ~ .nav {
  transform: scale(1, 1);
}

.navbar-toggle:checked ~ .nav .nav-item {
  /* 最後一個參數為效果延遲時間 */
  transition: opacity 0.3s ease-out 0.15s;
  opacity: 1;
}

.navbar-toggle-label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 7.5%;
  display: flex;
  align-items: center;
}

.hamburger {
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  background-color: #267b98;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  left: 0;
  content: "";
}

.hamburger::before {
  bottom: 8px;
}

.hamburger::after {
  top: 8px;
}

/* activity */
.banner-wrapper {
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 0.5rem;
  grid-template-areas:
    "main main main main"
    "left left right right";
}

.main-banner {
  grid-area: main;
  background-image: url("https://images.unsplash.com/photo-1520087619250-584c0cbd35e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1285&q=80");
}
.sub-banner-left {
  grid-area: left;
  background-image: url("https://images.unsplash.com/photo-1569809317138-8d2ff6060c4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
}
.sub-banner-right {
  grid-area: right;
  background-image: url("https://images.unsplash.com/photo-1535294435445-d7249524ef2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
}
.main-banner,
.sub-banner {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.banner-title {
  margin-bottom: 0.4rem;
}
.main-banner .banner-title {
  font-size: 2rem;
  color: #1a5366;
}
.banner-description {
  margin-bottom: 1rem;
  font-weight: 600;
}
.main-banner .banner-description {
  color: #267b98;
  font-size: 1rem;
}
.sub-banner .action {
  font-size: 1rem;
  padding: 0.25rem 1rem;
}
.sub-banner .banner-title,
.sub-banner .banner-description {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

/********* 電腦版樣式 *********/
@media screen and (min-width: 768px) {
  .action {
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
  }
  /*Main Header*/
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  /*移除漢堡排*/
  .navbar-toggle-label {
    display: none;
  }
  /*導覽列 CSS 樣式設定復原*/
  .nav {
    all: unset;
    grid-column: 3/4;
  }
  .navbar-brand {
    grid-column: 2/3;
  }
  .nav-item {
    opacity: 1;
    margin: 0;
  }
  .nav-list {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: right;
    gap: 0 2rem;
  }
  /* activity */
  .banner-wrapper {
    grid-template-areas:
      "main main main left"
      "main main main right";
    gap: 1.5rem;
  }
  .main-banner {
    align-items: flex-start;
    justify-content: center;
  }
  .main-banner .banner-title {
    font-size: 4rem;
  }
  .main-banner .banner-description {
    font-size: 2rem;
  }
  .sub-banner .banner-title {
    font-size: 2rem;
  }
  .sub-banner .action {
    font-size: 1.2rem;
  }
}
